@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
   
}
body{
    margin:0;
    padding:0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*{
    margin:0;
    padding:0;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
    
}
.section{
    background:var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left:270px;
    top:0;
    right:0;
    z-index: 0;
    opacity: 1;
    padding: 0 30px;
}
.aside{
    width: 270px;
    height: 100%;
    background:var(--bg-black-100);
    padding: 30px;
    position: fixed;
    left:0;
    top:0;
    z-index: 10;
    display: flex;
    justify-content:center;
    align-items: center;
    border-right:1px solid var(--bg-black-50); 
}
ul{
    list-style: none;
}
.aside .logo{
    position: absolute;
    top:50px;
    font-size: 30px;
    text-transform: capitalize;
   
}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span{
    font-family: 'Clicker Script',cursive;
    font-size: 40px;
}
.aside .logo a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--text-black-900);
    border-left: 5px solid var(--text-black-900);
}
.aside .logo a::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--text-black-900);
    border-right: 5px solid var(--text-black-900);
}
.aside .nav{
    margin-top:50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav li a.active{
    color:var(--text-black-900);
}
.aside .nav li i{
    margin-right: 15px;
}
.aside .nav-toggler{
    height:40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left:300px;
    top:20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top:-6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top:6px;
    left: 0;
}

.container{
    max-width: 1100px;
    width:100%;
    margin:auto;
}
.books{
    display:flex;
    flex-wrap:wrap;
    margin-left: 20%;
  

}
.books img{
    width:200px; 
    height:250px;
 
    
}
.books div{
    height:max-content;
    width: 200px;
    margin:40px 30px;
}
.books div button{
    border: none;
    padding: 4px 40px;
    border-radius: 6px;
    background-color: #504e70;
}
 .comment:hover{
    letter-spacing:2px;
}